<!doctype html>
<html>
	<head>
		<title>Line Chart</title>
		<script src="../static/Chart.min.js"></script>
	</head>
	<body>
		<form method="post">
			Topic 1: 	<select name="topic1">
							{% for subject in subjects %}
    							<option value="{{ subject }}">{{ subject }}</option>
							{% endfor %}
						</select><br>
			Topic 2: 	<select name="topic2">
							{% for subject in subjects %}
    							<option value="{{ subject }}">{{ subject }}</option>
							{% endfor %}
						</select><br>
			Topic 3: 	<select name="topic3">
							{% for subject in subjects %}
    							<option value="{{ subject }}">{{ subject }}</option>
							{% endfor %}
						</select><br>
			Begin Date Range: <input type="date" name="begin_date_range"><br>
    		End Date Range: <input type="date" name="end_date_range"><br>
			<input type="submit" value="Submit"><br><br>
			<div style="width:30%">
				<div>
					<canvas id="canvas" height="450" width="600"></canvas>
				</div>
			</div>


			<script type="text/javascript">
				var lineChartData = {
					labels : [{% for date in dates %}
									"{{date}}",
								{% endfor %}],
					datasets : [
						{% set red = 150 %}
						{% set green = 100 %}
						{% set blue = 50 %}
						{% for subjectAndSentiment in subjectsAndSentiments %}
							{
								label: "{{subjectAndSentiment[0]}}",
								fillColor : "rgba({{red}},{{green}},{{blue}},0.2)",
								strokeColor : "rgba({{red}},{{green}},{{blue}},1)",
								pointColor : "rgba({{red}},{{green}},{{blue}},1)",
								pointStrokeColor : "#fff",
								pointHighlightFill : "#fff",
								pointHighlightStroke : "rgba({{red}},{{green}},{{blue}},1)",
								data : [{% for sentiment in subjectAndSentiment[1:] %}
												"{{sentiment}}",
											{% endfor %}]
								{% set red = red - 20 %}
								{% set green = green + 25 %}
								{% set blue = blue + 10 %}
							},
						{% endfor %}]
				}
				var resetGraph = function() {

				};
				window.onload = function(){
					var ctx = document.getElementById("canvas").getContext("2d");
					window.myLine = new Chart(ctx).Line(lineChartData, {
						responsive: true
					});
				}
			</script>
		</form>
	</body>
</html>